@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Reset de margin e padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #343139;
}
/* Container principal */
.app-container {
  width: 100%;
  max-width: 500px; /* Largura máxima da aplicação */
  margin: 40px auto; /* Centraliza a aplicação */
  padding: 20px;
  background-color: #343139; /* Cor de fundo do container */
  border: 1px solid #ff00bf;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar */
}

/* Título da aplicação */
h1 {

  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #9d9c9d; /* Cor discreta */
}

/* Estilizando o formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #9d9c9d;
}

/* Inputs e textarea */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ff00bf !important;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
}

form input:focus,
form textarea:focus {
    outline: none;
}

/* Botão do formulário */
form button {
  padding: 10px;
  background-color: #ff00bf;
  color: #343139;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #af0083;
}


/* Lista de tarefas */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #ff00bf;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #9d9c9d;
  
}

li:hover {
 
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

li input[type="checkbox"] {
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background-color: #ff00bf;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #af0083;
}

/* Estilos para os campos de edição */
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff00bf;
  background-color: transparent;
  color: #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"]:focus {
  border-color: #af0083;
  outline: none;
}

button {
  padding: 8px 15px;
  background-color: #ff00bf;
  color: #343139;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #af0083;}

button + button {
  color: #9d9c9d;
  background-color: transparent;
  border: 1px solid #ff00bf;
}

button + button:hover {
  background-color: transparent;
border:1px solid #af0083;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin-right: 10px; /* Espaço entre o checkbox e o texto */
  width: 20px; /* Tamanho fixo do checkbox */
  height: 20px; /* Tamanho fixo do checkbox */
}

.status-text {
  margin-bottom: auto;
  line-height: 20px; /* Alinha o texto com a altura do checkbox */
  vertical-align: middle; /* Alinha o texto ao meio do checkbox */
}
